In [1]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
import time
from selenium.webdriver.common.keys import Keys

# 1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: 

A) Rank

B) Name

C) Artist

D) Upload date

E) Views

In [2]:
driver = webdriver.Chrome()
driver.get(' https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')
driver.maximize_window()

In [38]:
# Empty list for scraping data
Rank=[]
Name =[]
Artist =[]
Upload_date =[]
Views=[]

In [40]:
try:
    j=1
    rank= driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr')
    for i in rank:
        Rank.append(j)
        j= j+1
except NoSuchElementException:
    Rank.append('-')
    
    
# Extracting Name  Via Xpath
try:
    name= driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[1]')
    for i in name:
        Name.append(i.text)
except NoSuchElementException:
    Name.append('-')   
    
# Extracting Artist  Via Xpath
try:
    artist= driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[2]')
    for i in artist:
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append('-')

# Extracting Upload_date  Via Xpath
try:
    upload_date= driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[3]')
    for i in upload_date:
        Upload_date.append(i.text)
except NoSuchElementException:
    Upload_date.append('-')
        
# Extracting Views  Via Xpath
try:
    views= driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[4]')
    for i in views:
        Views.append(i.text)
except NoSuchElementException :
    Views.append('-')

In [41]:
df = pd.DataFrame({'Rank':Rank,'Name':Name,'Artist':Artist,'Upload_date':Upload_date,'Views':Views})
df

,Rank,Name,Artist,Upload_date,Views
0,1,"""Baby Shark Dance""[7]",Pinkfong Baby Shark - Kids' Songs & Stories,14.22,"June 17, 2016"
1,2,"""Despacito""[10]",Luis Fonsi,8.40,"January 12, 2017"
2,3,"""Johny Johny Yes Papa""[18]",LooLoo Kids - Nursery Rhymes and Children's Songs,6.88,"October 8, 2016"
3,4,"""Bath Song""[19]",Cocomelon - Nursery Rhymes,6.65,"May 2, 2018"
4,5,"""Shape of You""[20]",Ed Sheeran,6.22,"January 30, 2017"
5,6,"""See You Again""[23]",Wiz Khalifa,6.20,"April 6, 2015"
6,7,"""Wheels on the Bus""[28]",Cocomelon - Nursery Rhymes,5.95,"May 24, 2018"
7,8,"""Phonics Song with Two Words""[29]",ChuChu TV Nursery Rhymes & Kids Songs,5.73,"March 6, 2014"
8,9,"""Uptown Funk""[30]",Mark Ronson,5.17,"November 19, 2014"
9,10,"""Gangnam Style""[31]",Psy,5.09,"July 15, 2012"
10,11,"""Learning Colors – Colorful Eggs on a Farm""[36]",Miroshka TV,5.08,"February 27, 2018"
11,12,"""Masha and the Bear – Recipe for Disaster""[37]",Get Movies,4.58,"January 31, 2012"
12,13,"""Dame Tu Cosita""[38]",Ultra Records,4.57,"April 5, 2018"
13,14,"""Axel F""[39]",Crazy Frog,4.40,"June 16, 2009"
14,15,"""Sugar""[40]",Maroon 5,4.02,"January 14, 2015"
15,16,"""Baa Baa Black Sheep""[41]",Cocomelon - Nursery Rhymes,3.99,"June 25, 2018"
16,17,"""Counting Stars""[42]",OneRepublic,3.99,"May 31, 2013"
17,18,"""Roar""[43]",Katy Perry,3.97,"September 5, 2013"
18,19,"""Lakdi Ki Kathi""[44]",Jingle Toons,3.95,"June 14, 2018"
19,20,"""Waka Waka (This Time for Africa)""[45]",Shakira,3.88,"June 4, 2010"
20,21,"""Sorry""[46]",Justin Bieber,3.78,"October 22, 2015"
21,22,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,3.75,"January 26, 2018"
22,23,"""Thinking Out Loud""[48]",Ed Sheeran,3.74,"October 7, 2014"
23,24,"""Shree Hanuman Chalisa""[49]",T-Series Bhakti Sagar,3.74,"May 10, 2011"
24,25,"""Perfect""[50]",Ed Sheeran,3.69,"November 9, 2017"
25,26,"""Dark Horse""[51]",Katy Perry,3.69,"February 20, 2014"
26,27,"""Let Her Go""[52]",Passenger,3.63,"July 25, 2012"
27,28,"""Faded""[53]",Alan Walker,3.60,"December 3, 2015"
28,29,"""Girls Like You""[54]",Maroon 5,3.57,"May 31, 2018"
29,30,"""Lean On""[55]",Major Lazer Official,3.56,"March 22, 2015"

In [42]:
driver.quit()

# 2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:

A) Series

B) Place

C) Date

D) Time

Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [44]:
driver = webdriver.Chrome()
driver.get('https://www.bcci.tv/')
driver.maximize_window()

In [48]:
try:
    time.sleep(3)
    searchBtn =driver.find_element(By.XPATH,'/html/body/header/div[3]/div[2]/ul/div[1]/a[2]')
    searchBtn.click()
except NoSuchElementException:
    print("NoSuchElementException occurs")

In [52]:
# Empty list for scraping data
Series=[]
Place =[]
Date =[]
Time =[]

In [53]:
try:
    series= driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
    for i in series:
        Series.append(i.text)
except NoSuchElementException:
    Series.append('-')
    
    
# Extracting Place  Via Xpath
try:
    place= driver.find_elements(By.XPATH,'//div[@class="match-place ng-scope"]')
    for i in place:
        Place.append(i.text)
except NoSuchElementException:
    Place.append('-')   
    
# Extracting Date  Via Xpath
try:
    date= driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
    for i in date:
        Date.append(i.text)
except NoSuchElementException:
    Date.append('-')

# Extracting Time  Via Xpath
try:
    time= driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
    for i in time:
        Time.append(i.text)
except NoSuchElementException:
    Time.append('-')

In [55]:
df = pd.DataFrame({'Series':Series,'Place':Place,'Date':Date,'Time':Time})
df

,Series,Place,Date,Time
0,ICC MENS T20 WORLD CUP 2024,"Nassau County International Cricket Stadium, N...","5 JUNE, 2024",8:00 PM IST
1,ICC MENS T20 WORLD CUP 2024,"Nassau County International Cricket Stadium, N...","9 JUNE, 2024",8:00 PM IST
2,ICC MENS T20 WORLD CUP 2024,"Nassau County International Cricket Stadium, N...","12 JUNE, 2024",8:00 PM IST
3,ICC MENS T20 WORLD CUP 2024,"Central Broward Park & Broward County Stadium,...","15 JUNE, 2024",8:00 PM IST
4,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","6 JULY, 2024",8:00 PM IST
5,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","7 JULY, 2024",8:00 PM IST
6,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","10 JULY, 2024",8:00 PM IST
7,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","13 JULY, 2024",8:00 PM IST
8,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","14 JULY, 2024",8:00 PM IST

In [56]:
driver.quit()

# 3. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details: 

A) Rank

B) State

C) GSDP(18-19)- at current prices

D) GSDP(19-20)- at current prices

E) Share(18-19)

F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code.

In [68]:
driver = webdriver.Chrome()
driver.get('https://statisticstimes.com/')
driver.maximize_window()

In [69]:
try:
    Url =driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
    url1= Url.get_attribute("href")
    driver.get(url1)
    GdpUrl =driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
    url2= GdpUrl.get_attribute("href")
    driver.get(url2)
except NoSuchElementException:
    print("NoSuchElementException occurs")

In [82]:
# Empty list for scraping data
Rank=[]
State =[]
GSDP_at_current_prices_23 =[]
GSDP_at_current_prices_22 =[]
Share =[]
GDP =[]

In [83]:
try:
    rank= driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[1]')[:33]
    for i in rank:
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append('-')
    
    
# Extracting State  Via Xpath
try:
    state= driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[2]')[:33]
    for i in state:
        State.append(i.text)
except NoSuchElementException:
    State.append('-')   
    
# Extracting GSDP_at_current_prices_23 Via Xpath
try:
    gSDP_at_current_prices_23= driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[3]')[:33]
    for i in gSDP_at_current_prices_23:
        GSDP_at_current_prices_23.append(i.text)
except NoSuchElementException:
    GSDP_at_current_prices_23.append('-')

# Extracting GSDP_at_current_prices_19  Via Xpath
try:
    gSDP_at_current_prices_22= driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[4]')[:33]
    for i in gSDP_at_current_prices_22:
        GSDP_at_current_prices_22.append(i.text)
except NoSuchElementException:
    GSDP_at_current_prices_22.append('-')

# Extracting Share  Via Xpath
try:
    share= driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[5]')[:33]
    for i in share:
        Share.append(i.text)
except NoSuchElementException:
    Share.append('-')
    
# Extracting GDP  Via Xpath
try:
    gDP= driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[6]')[:33]
    for i in gDP:
        GDP.append(i.text)
except NoSuchElementException:
    GDP.append('-')

In [84]:
df = pd.DataFrame({'Rank':Rank,'State':State,'GSDP(22-23)- at current prices':GSDP_at_current_prices_23,'GSDP(21-22)- at current prices':GSDP_at_current_prices_22,'Share(18-19)':Share,'GDP($ billion)':GDP})
df

,Rank,State,GSDP(22-23)- at current prices,GSDP(21-22)- at current prices,Share(18-19),GDP($ billion)
0,1,Maharashtra,-,"3,108,022",13.17%,414.928
1,2,Tamil Nadu,"2,364,514","2,071,286",8.78%,276.522
2,3,Uttar Pradesh,"2,257,575","1,974,532",8.37%,263.605
3,4,Karnataka,"2,241,368","1,962,725",8.32%,262.029
4,5,Gujarat,-,"1,937,066",8.21%,258.603
5,6,West Bengal,"1,554,992","1,363,926",5.78%,182.087
6,7,Rajasthan,"1,413,620","1,218,193",5.16%,162.632
7,8,Madhya Pradesh,"1,322,821","1,136,137",4.81%,151.677
8,9,Andhra Pradesh,"1,317,728","1,133,837",4.80%,151.370
9,10,Telangana,"1,313,391","1,128,907",4.78%,150.712
10,11,Kerala,-,"932,470",3.95%,124.487
11,12,Delhi,"1,043,759","904,642",3.83%,120.772
12,13,Haryana,"994,154","870,665",3.69%,116.236
13,14,Odisha,"774,869","670,881",2.84%,89.564
14,15,Bihar,"751,396","650,302",2.76%,86.817
15,16,Punjab,"673,107","614,227",2.60%,82.001
16,17,Assam,"493,167","412,612",1.75%,55.085
17,18,Chhattisgarh,"457,608","406,416",1.72%,54.258
18,19,Jharkhand,"393,722","358,863",1.52%,47.909
19,20,Uttarakhand,"302,621","272,159",1.15%,36.334
20,21,Jammu & Kashmir-UT,"227,927","199,917",0.85%,26.689
21,22,Himachal Pradesh,"195,405","176,269",0.75%,23.532
22,23,Goa,-,"82,604",0.35%,11.028
23,24,Tripura,"72,636","62,550",0.27%,8.351
24,25,Chandigarh,-,"45,635",0.19%,6.092
25,26,Puducherry,-,"44,238",0.19%,5.906
26,27,Meghalaya,"42,697","38,785",0.16%,5.178
27,28,Sikkim,"42,756","37,557",0.16%,5.014
28,29,Manipur,-,"36,594",0.16%,4.885
29,30,Arunachal Pradesh,-,"35,124",0.15%,4.689
30,31,Nagaland,-,"31,913",0.14%,4.260
31,32,Mizoram,-,"27,824",0.12%,3.715
32,33,Andaman & Nicobar Islands,-,"10,371",0.04%,1.385

In [85]:
driver.quit()

# 4. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:

A) Repository title

B) Repository description

C) Contributors count

D) Language used

Note: - From the home page you have to click on the trending option from Explore menu through code.

In [90]:
driver = webdriver.Chrome()
driver.get("https://github.com/")
driver.maximize_window()

In [91]:
try:
    searchResult=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a")
    url= searchResult.get_attribute("href")
    driver.get(url)
except NoSuchElementException:
    print("NoSuchElementException occurs")

In [110]:
# Empty list for scraping data
Repository_title =[]
Repository_description =[]
Contributors_count =[]
Language_used=[]

In [112]:
    
# Extracting Repository_title  Via Xpath
try:
    repository_title= driver.find_elements(By.XPATH,'//span[@class="text-normal"]')
    for i in repository_title:
        Repository_title.append(i.text)
except NoSuchElementException:
    Repository_title.append('-')
    
    
# Extracting Repository_description  Via Xpath
try:
    repository_description= driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
    for i in repository_description:
        Repository_description.append(i.text)
except NoSuchElementException:
    Repository_description.append('-')

# Extracting Contributors_count  Via Xpath
try:
    contributors_count= driver.find_elements(By.XPATH,'//div[@class="f6 color-fg-muted mt-2"]/a[2]')
    for i in contributors_count:
        Contributors_count.append(i.text)
except NoSuchElementException:
    Contributors_count.append('-')
        
# Extracting Language_used  Via Xpath
try:
    language_used= driver.find_elements(By.XPATH,'//div[@class="f6 color-fg-muted mt-2"]/span[1]')
    for i in language_used:
        if(i.text == 'Built by'):
            Language_used.append('-')
        else:
             Language_used.append(i.text)
except NoSuchElementException :
    Language_used.append('-')

In [113]:
df = pd.DataFrame({'Repository title':Repository_title,'Repository description':Repository_description,'Contributors count':Contributors_count,'Language used':Language_used})
df

,Repository title,Repository description,Contributors count,Language used
0,heyform /,HeyForm is an open-source form builder that al...,281,TypeScript
1,jasonppy /,Zero-Shot Speech Editing and Text-to-Speech in...,488,Jupyter Notebook
2,microsoft /,"18 Lessons, Get Started Building with Generati...","20,573",Jupyter Notebook
3,Mozilla-Ocho /,Distribute and run LLMs with a single file.,555,C++
4,OpenBMB /,Create Customized Software using Natural Langu...,"2,659",Shell
5,go-nunu /,A CLI tool for building Go applications.,107,Go
6,wandb /,OpenUI let's you describe UI using your imagin...,217,TypeScript
7,codecrafters-io /,Master programming by recreating your favorite...,"24,061",-
8,DioxusLabs /,"Fullstack GUI library for web, desktop, mobile...",663,Rust
9,OpenDevin /,"🐚 OpenDevin: Code Less, Make More","1,647",Python
10,valkey-io /,A new project to resume development on the for...,285,C
11,microsoft /,"12 weeks, 26 lessons, 52 quizzes, classic Mach...","13,424",HTML
12,halfrost /,"✅ Solutions to LeetCode by Go, 100% test cover...","5,585",Go
13,doocs /,😱 从源码层面，剖析挖掘互联网行业主流技术的底层实现原理，为广大开发者 “提升技术深度” 提...,"3,310",Java
14,dvlab-research /,Official implementation for Mini-Gemini,33,Python
15,billmei /,Every front-end GUI client for ChatGPT,110,-
16,developersdigest /,Build a Perplexity-Inspired Answer Engine Usin...,438,TypeScript
17,city-super /,Octree-GS: Towards Consistent Real-time Render...,20,C++
18,Atlas-OS /,🚀 An open and lightweight modification to Wind...,456,Batchfile
19,jwasham /,A complete computer science study plan to beco...,"72,136",-
20,xuchengsheng /,涵盖了 Spring 框架的核心概念和关键功能，包括控制反转（IOC）容器的使用，面向切面编...,640,Java
21,TencentARC /,"The official implementation of paper ""BrushNet...",75,Python
22,upscayl /,🆙 Upscayl - Free and Open Source AI Image Upsc...,"1,105",TypeScript
23,janhq /,Jan is an open source alternative to ChatGPT t...,853,TypeScript
24,agiresearch /,AIOS: LLM Agent Operating System,149,Python

In [114]:
driver.quit()

# 5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the following details:

A) Song name

B) Artist name

C) Last week rank

D) Peak rank

E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [115]:
driver = webdriver.Chrome()
driver.get("https://www.billboard.com/")
driver.maximize_window()

In [117]:
try:
    searchResult=driver.find_element(By.XPATH,"/html/body/div[3]/header/div/div[3]/div/nav/ul/li[1]/a")
    url= searchResult.get_attribute("href")
    driver.get(url)
except NoSuchElementException:
    print("NoSuchElementException occurs")

In [118]:
# Empty list for scraping data
Song_name =[]
Artist_name =[]
Last_week_rank =[]
Peak_rank=[]
Weeks_on_board=[]

In [119]:
    
# Extracting Song_name Via Xpath
try:
    song_name = driver.find_elements(By.XPATH,'//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 u-font-size-23@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-245 u-max-width-230@tablet-only u-letter-spacing-0028@tablet"]')
    for i in song_name:
        Song_name.append(i.text)

    song_name = driver.find_elements(By.XPATH,'//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only"]')
    for i in song_name:
        Song_name.append(i.text)
except NoSuchElementException:
    Song_name.append('-')
    
    
# Extracting Artist_name Via Xpath
try:
    artist_name= driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet"]')
    for i in artist_name:
        Artist_name.append(i.text)
        
    artist_name= driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]')
    for i in artist_name:
        Artist_name.append(i.text)
except NoSuchElementException:
    Artist_name.append('-')

# Extracting Last_week_rank Via Xpath
try:
    last_week_rank= driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"][1]')
    for i in last_week_rank:
        Last_week_rank.append(i.text)
except NoSuchElementException:
    Last_week_rank.append('-')
        
# Extracting Peak_rank Via Xpath
try:
    peak_rank= driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-bg-color a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-background-color-grey-lightest lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-hidden@mobile-max"][2]')
    for i in peak_rank:
        Peak_rank.append(i.text)
except NoSuchElementException :
    Peak_rank.append('-')  

# Extracting Weeks_on_board Via Xpath
try:
    weeks_on_board= driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"][2]')
    for i in weeks_on_board:
        Weeks_on_board.append(i.text)
except NoSuchElementException :
    Weeks_on_board.append('-')

In [120]:
df = pd.DataFrame({'Song name':Song_name,'Artist name':Artist_name,'Last week rank':Last_week_rank,'Peak rank':Peak_rank,'Weeks on board':Weeks_on_board})
df

,Song name,Artist name,Last week rank,Peak rank,Weeks on board
0,Like That,"Future, Metro Boomin & Kendrick Lamar",-,1,1
1,Type Shit,"Future, Metro Boomin, Travis Scott & Playboi C...",-,2,1
2,Beautiful Things,Benson Boone,2,2,10
3,Lose Control,Teddy Swims,1,1,33
4,Too Sweet,Hozier,-,5,1
...,...,...,...,...,...
95,La Victima,Xavi,77,46,15
96,Tucson Too Late,Jordan Davis,81,81,4
97,Empire Now,Hozier,-,98,1
98,Girl I've Always Been,Olivia Rodrigo,-,99,1
99,Outskirts,Sam Hunt,92,92,3

In [121]:
driver.quit()

# 6. Scrape the details of Highest selling novels.

A) Book name

B) Author name

C) Volumes sold

D) Publisher

E) Genre

Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [122]:
driver = webdriver.Chrome()
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")
driver.maximize_window()

In [123]:
# Empty list for scraping data
Book_name =[]
Author_name =[]
Volumes_sold =[]
Publisher=[]
Genre=[]

In [124]:
# Extracting Book_name Via Xpath
try:
    book_name= driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
    for i in book_name:
        Book_name.append(i.text)
except NoSuchElementException:
    Book_name.append('-')
    
    
# Extracting Author_name Via Xpath
try:
    author_name= driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
    for i in author_name:
        Author_name.append(i.text)
except NoSuchElementException:
    Author_name.append('-')

# Extracting Volumes_sold Via Xpath
try:
    volumes_sold= driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
    for i in volumes_sold:
        Volumes_sold.append(i.text)
except NoSuchElementException:
    Volumes_sold.append('-')
        
# Extracting Publisher Via Xpath
try:
    publisher= driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
    for i in publisher:
        Publisher.append(i.text)
except NoSuchElementException :
    Publisher.append('-')
        

# Extracting Genre Via Xpath
try:
    genre= driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
    for i in genre:
        Genre.append(i.text)
except NoSuchElementException:
    Genre.append('-')

In [125]:
df = pd.DataFrame({'Book name':Book_name,'Author name':Author_name,'Volumes sold':Volumes_sold,'Publisher':Publisher,'Genre':Genre})
df

,Book name,Author name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [126]:
driver.quit()

# 8. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/ You have to find the following details:

A) Dataset name

B) Data type

C) Task

D) Attribute type

E) No of instances

F) No of attribute 

G) Year

Note: - from the home page you have to go to the Show All Dataset page through code.

In [135]:
driver = webdriver.Chrome()
driver.get("https://archive.ics.uci.edu/")
driver.maximize_window()

In [136]:
try:
    searchResult=driver.find_element(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]")
    url= searchResult.get_attribute("href")
    driver.get(url)
except NoSuchElementException:
    print("NoSuchElementException occurs")

In [137]:
# Empty list for scraping data
Dataset_name =[]
Data_type =[]
Task =[]
Attribute_type=[]
No_of_instances=[]
No_of_attribute =[]
Year=[]

In [138]:
try:
    Dataset_name= driver.find_elements(By.XPATH,'//h2[@class="truncate text-primary"]')
    for i in rank:
        Dataset_name.append(i.text)
except NoSuchElementException:
    Dataset_name.append('-')
    
    
# Extracting Data_type Via Xpath
try:
    Data_type= driver.find_elements(By.XPATH,'//div[@class="col-span-3 flex items-center gap-2"][2]')
    for i in name:
        Data_type.append(i.text)
except NoSuchElementException:
    Data_type.append('-')
    
# Extracting Task Via Xpath
try:
    Task= driver.find_elements(By.XPATH,'//div[@class="col-span-3 flex items-center gap-2"][1]')
    for i in networth:
        Task.append(i.text)
except NoSuchElementException:
    Task.append('-')
        
# Extracting No_of_instances Via Xpath
try:
    No_of_instances= driver.find_elements(By.XPATH,'//div[@class="col-span-3 flex items-center gap-2"][3]')
    for i in citizenship:
        No_of_instances.append(i.text)
except NoSuchElementException :
    No_of_instances.append('-')

MaxRetryError: HTTPConnectionPool(host='localhost', port=54846): Max retries exceeded with url: /session/49bb29e60be537c660cd3792fca47cd3/element/f.34926D0262B94956F09E2736A565DE46.d.01C00722A5423DB4EC01E9E520573D24.e.73/text (Caused by NewConnectionError('<urllib3.connection.HTTPConnection object at 0x13280f4d0>: Failed to establish a new connection: [Errno 61] Connection refused'))

In [302]:
df = pd.DataFrame({'Dataset_name':Dataset_name,'Data_type':Data_type,'Task':Task,'No_of_instances':No_of_instances})
df

,Rank,Name,Networth,Age,Citizenship,Source,Industry
0,1,Bernard Arnault & family,$211 B,74,France,LVMH,Fashion & Retail
1,2,Elon Musk,$180 B,51,United States,"Tesla, SpaceX",Automotive
2,3,Jeff Bezos,$114 B,59,United States,Amazon,Technology
3,4,Larry Ellison,$107 B,78,United States,Oracle,Technology
4,5,Warren Buffett,$106 B,92,United States,Berkshire Hathaway,Finance & Investments
...,...,...,...,...,...,...,...
195,195,Jin Baofang,$9.6 B,70,China,Solar panels,Energy
196,195,Luo Liguo & family,$9.6 B,67,China,Chemicals,Manufacturing
197,195,Marijke Mars,$9.6 B,58,United States,"Candy, pet food",Food & Beverage
198,195,Pamela Mars,$9.6 B,62,United States,"Candy, pet food",Food & Beverage
199,195,Valerie Mars,$9.6 B,64,United States,"Candy, pet food",Food & Beverage

In [134]:
driver.quit()