In [1]:
!pip install selenium

Collecting selenium
  Downloading selenium-4.18.1-py3-none-any.whl (10.0 MB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 10.0/10.0 MB 10.0 MB/s eta 0:00:0000:010:01
Requirement already satisfied: urllib3[socks]<3,>=1.26 in ./anaconda3/lib/python3.11/site-packages (from selenium) (1.26.16)
Collecting trio~=0.17 (from selenium)
  Downloading trio-0.24.0-py3-none-any.whl (460 kB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 460.2/460.2 kB 9.8 MB/s eta 0:00:00a 0:00:01
Collecting trio-websocket~=0.9 (from selenium)
  Downloading trio_websocket-0.11.1-py3-none-any.whl (17 kB)
Requirement already satisfied: certifi>=2021.10.8 in ./anaconda3/lib/python3.11/site-packages (from selenium) (2023.5.7)
Collecting typing_extensions>=4.9.0 (from selenium)
  Downloading typing_extensions-4.10.0-py3-none-any.whl (33 kB)
Requirement already satisfied: attrs>=20.1.0 in ./anaconda3/lib/python3.11/site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in ./anaconda3/lib/python3.11/site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in ./anaconda3/lib/python3.11/site-packages (from trio~=0.17->selenium) (3.4)
Collecting outcome (from trio~=0.17->selenium)
  Downloading outcome-1.3.0.post0-py2.py3-none-any.whl (10 kB)
Collecting sniffio>=1.3.0 (from trio~=0.17->selenium)
  Downloading sniffio-1.3.1-py3-none-any.whl (10 kB)
Collecting wsproto>=0.14 (from trio-websocket~=0.9->selenium)
  Downloading wsproto-1.2.0-py3-none-any.whl (24 kB)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in ./anaconda3/lib/python3.11/site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Collecting h11<1,>=0.9.0 (from wsproto>=0.14->trio-websocket~=0.9->selenium)
  Downloading h11-0.14.0-py3-none-any.whl (58 kB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 58.3/58.3 kB 8.6 MB/s eta 0:00:00
Installing collected packages: typing_extensions, sniffio, outcome, h11, wsproto, trio, trio-websocket, selenium
  Attempting uninstall: typing_extensions
    Found existing installation: typing_extensions 4.6.3
    Uninstalling typing_extensions-4.6.3:
      Successfully uninstalled typing_extensions-4.6.3
  Attempting uninstall: sniffio
    Found existing installation: sniffio 1.2.0
    Uninstalling sniffio-1.2.0:
      Successfully uninstalled sniffio-1.2.0
Successfully installed h11-0.14.0 outcome-1.3.0.post0 selenium-4.18.1 sniffio-1.3.1 trio-0.24.0 trio-websocket-0.11.1 typing_extensions-4.10.0 wsproto-1.2.0

In [168]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
import time
from selenium.webdriver.common.keys import Keys

# Q1: In this question you have to scrape data using the filters available on the webpage You have to use the location and
salary filter.

You have to scrape data for ‚ÄúData Scientist‚Äù designation for first 10 job results.

You have to scrape the job-title, job-location, company name, experience required.

The location filter to be used is ‚ÄúDelhi/NCR‚Äù. The salary filter to be used is ‚Äú3-6‚Äù lakhs

In [10]:
driver = webdriver.Chrome()
driver.get('https://www.naukri.com/')

In [11]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [12]:
search_button = driver.find_element(By.CLASS_NAME, "qsbSubmit")
search_button.click()

In [18]:
location=driver.find_element(By.XPATH,"//label[@class='styles_chkLbl__n2x09']/p/span[contains(text(),'Delhi / NCR')]")
location.click()

In [19]:
salary=driver.find_element(By.XPATH,"//label[@class='styles_chkLbl__n2x09']/p/span[contains(text(),'3-6 Lakhs')]")
salary.click()

In [40]:
title = [i.text for i in driver.find_elements(By.XPATH,'//div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]/div/a ')[:10]]  
location = [i.text for i in driver.find_elements(By.XPATH, '//span[@class="locWdth"]')[:10]]
company = [i.text for i in driver.find_elements(By.XPATH, '//div[@class=" row2"]/span/a[1]')[:10]]
experience = [i.text for i in driver.find_elements(By.XPATH,'//span[@class="expwdth"]')[:10]]

In [41]:
len(location)

10

In [42]:
df = pd.DataFrame({'title':title,'location':location,'company':company,'experience':experience})
df

,title,location,company,experience
0,Data Scientist HTHD,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Ford,1-4 Yrs
1,Data Scientist,"Mumbai, Hyderabad, Gurugram",Deloitte,3-6 Yrs
2,Data Scientist,"Gurugram, Bengaluru",Blackbuck,3-7 Yrs
3,Data Scientist II,"Greater Noida, Bengaluru",Honeywell,3-6 Yrs
4,Lead Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Elitefit.ai,3-7 Yrs
5,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Fort Technologies,1-3 Yrs
6,Lead Customer Success - Data Scientist,"Pune, Gurugram",ZS Associates,2-4 Yrs
7,Fullstack Data Scientist,"Mumbai, Gurugram, Bengaluru",Course5 Intelligence,3-6 Yrs
8,Data Scientist,Noida,Innovaccer,2-7 Yrs
9,Data Scientist,Noida,Times Internet,3-8 Yrs

In [43]:
driver.quit()

# Q2: Write a python program to scrape data for ‚ÄúData Scientist‚Äù Job position in ‚ÄúBangalore‚Äù location. You have to scrape the
job-title, 

job-location, 

company_name, 

experience_required. 

You have to scrape first 10 jobs data.

In [44]:
driver = webdriver.Chrome()
driver.get("https://www.shine.com/")

In [58]:
designation=driver.find_element(By.NAME,"id_q")
designation.clear()
designation.send_keys('Data Analyst')

location=driver.find_element(By.ID,"id_loc")
location.clear()
location.send_keys('Banglore')

In [59]:
search_button = driver.find_element(By.CLASS_NAME, "btn.btn-secondary.undefined")
search_button.click()

In [103]:
title = [i.text for i in driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard__jjUmu  white-box-border jobCard"]/div/h2')[:10]]  
location = [i.text.split('\n')[0] for i in driver.find_elements(By.XPATH, '//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')[:10]]
company_name = [i.text for i in driver.find_elements(By.XPATH, '//div[@class="jobCard_jobCard_cName__mYnow"]')[:10]]
experience = [i.text for i in driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')[:10]]

In [105]:
df = pd.DataFrame({'job-title':title,'job-location':location,'company_name':company_name,'experience_required':experience})
df
driver.quit()

# Q3: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:

https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/
itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=F
LIPKART

As shown in the above page you have to scrape the tick marked attributes. These are:

    1. Rating

    2. Review summary

    3. Full review

    4. You have to scrape this data for first 100reviews

In [153]:
driver = webdriver.Chrome()
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART")

In [154]:
Rating=[]
ReviewSummary =[]
FullReview=[]

for page in range(0,10):
    rating_5= driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating_5:
        Rating.append(i.text)
        
    rating_1= driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1rdVr6 _1BLPMq"]')
    for i in rating_1:
        Rating.append(i.text)   
    reviewSummary =  driver.find_elements(By.XPATH, '//p[@class="_2-N8zT"]')
    for i in reviewSummary:
        ReviewSummary.append(i.text)
        
    fullReview = driver.find_elements(By.XPATH, '//div[@class="t-ZTKy"]/div/div')
    for i in fullReview:
        FullReview.append(i.text)
        
    next_button = driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]')
    next_button.click()
    time.sleep(1)

In [158]:
df = pd.DataFrame({'Rating':Rating,'Review summary':ReviewSummary,'Full review':FullReview})
df

,Rating,Review summary,Full review
0,5,Best in the market!,Good Camera
1,5,Worth every penny,Feeling awesome after getting the delivery of ...
2,5,Classy product,Camera is awesome\nBest battery backup\nA perf...
3,5,Terrific,Very very good
4,5,Fabulous!,Superüî• and good performance üëå‚ù§Ô∏è
...,...,...,...
95,5,Simply awesome,Daylight Camera quality is best at this price ...
96,5,Simply awesome,"Good product, and nice camera nice futures I l..."
97,5,Mind-blowing purchase,I like it performance and I like it display qu...
98,5,Must buy!,I got this mobile in big billiondays sale\nTru...
99,5,Wonderful,Outstanding I loved it ‚ù§Ô∏è‚ù§Ô∏è‚ù§Ô∏è‚ù§Ô∏è

In [159]:
driver.quit()

# Q4: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for ‚Äúsneakers‚Äù in the search field.

    You have to scrape 3 attributes of each sneaker:

        1. Brand

        2. Product Description

        3. Price

In [175]:
driver = webdriver.Chrome()
driver.get("https://www.flipkart.com/")

In [176]:
search=driver.find_element(By.CLASS_NAME,"Pke_EE")
search.clear()
search.send_keys('sneakers')
search.send_keys(Keys.ENTER)

In [177]:
Brand=[]
ProductDescription =[]
Price=[]

for page in range(0,3):
    brand= driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand:
        Brand.append(i.text)
          
    productDescription =  driver.find_elements(By.XPATH, '//div[@class="_2B099V"]/a[1]')
    for i in productDescription:
        ProductDescription.append(i.text)
        
    price = driver.find_elements(By.XPATH, '//div[@class="_2B099V"]/a[2]/div/div[1]')
    for i in price:
        Price.append(i.text)
        
    next_button = driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    next_button.click()
    time.sleep(1)

In [178]:
df = pd.DataFrame({'Brand':Brand,'Product Description':ProductDescription,'Price':Price})
df

           Brand                                Product Description   Price
0         BRUTON  Combo Pack Of 2 Casual Shoes for mens Sneakers...    ‚Çπ499
1         BRUTON      Combo Pack Of 2 Casual Shoes Sneakers For Men    ‚Çπ499
2      Deals4you                                 Sneakers For Women    ‚Çπ439
3       URBANBOX  Trending Stylish Casual Outdoor Shoes For Men ...    ‚Çπ299
4       RED TAPE  Casual Sneakers Shoes for Men | Soft Cushioned...  ‚Çπ1,179
..           ...                                                ...     ...
115         PUMA                  Pacer Future Web Sneakers For Men  ‚Çπ2,579
116         PUMA                          Fire run Sneakers For Men  ‚Çπ1,439
117       Koburg                             Daper Sneakers For Men    ‚Çπ749
118         PUMA                      Ivana Wn's Sneakers For Women  ‚Çπ1,919
119  New Balance                               574 Sneakers For Men  ‚Çπ4,300

[120 rows x 3 columns]

In [179]:
driver.quit()

# Q5: Go to webpage https://www.amazon.in/ Enter ‚ÄúLaptop‚Äù in the search field 
    and then click the search icon. Then set CPU Type filter to ‚ÄúIntel Core i7‚Äù as shown in the below image:
            
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:

    1. Title

    2. Ratings

    3. Price

In [186]:
driver = webdriver.Chrome()
driver.get("https://www.amazon.in/")

In [187]:
search=driver.find_element(By.XPATH,'//div[@class="nav-search-field "]/input')
search.clear()
search.send_keys('Laptop')
search.send_keys(Keys.ENTER)

In [190]:
CPU_filter=driver.find_element(By.XPATH,'//span[@class="a-declarative"]/span/li/span/a/span[contains(text(),"Intel Core i7")]')
CPU_filter.click()

In [191]:
title = [i.text for i in driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')[:10]]  
Ratings = [i.text for i in driver.find_elements(By.XPATH, '//span[@class="a-icon-alt"]')[:10]]
Price = [i.text for i in driver.find_elements(By.XPATH, '//span[@class="a-price-whole"]')[:10]]

In [192]:
df = pd.DataFrame({'title':title,'Ratings':Ratings,'Price':Price})
df

                                               title Ratings     Price
0  MSI Modern 14, Intel 12th Gen. i7-1255U, 36CM ...            69,990
1  Lenovo IdeaPad Slim 3 Intel Core i7 12th Gen 1...            49,990
2  ASUS TUF Gaming F15, 15.6"(39.62 cms) FHD 144H...            62,990
3  Lenovo Yoga Slim7 Carbon Intel Evo i7 1260P 13...            74,990
4  Acer Travelmate Business Laptop Intel Core i7-...          1,19,990
5  ASUS Vivobook 15, Intel Core i7-12650H 12th Ge...            49,990
6  HP Pavilion X360 11th Gen Intel Core i7 14" (3...            59,990
7  HP Victus Gaming Laptop, 12th Gen Intel Core i...            67,990
8  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...            79,990
9  Acer Aspire 5 Gaming Laptop Intel Core i7 13th...            77,990

In [197]:
driver.quit()

# Q6: Write a python program to scrape data for Top 1000 Quotes of All Time.

    The above task will be done in following steps:

        1. First get the webpagehttps://www.azquotes.com/

        2. Click on Top Quote

        3. Than scrap a) Quote b) Author c) Type Of Quotes

In [211]:
driver = webdriver.Chrome()
driver.get("https://www.azquotes.com/")

In [217]:
search_button = driver.find_element(By.XPATH, "/html/body/div[1]/div[2]/div/div/div[2]/div/div[1]/div/div[1]/div/div[3]/div/div[1]/p/a")
search_button.click()

In [218]:
Quote = [i.text for i in driver.find_elements(By.XPATH,'//p[@class="single-quote"]')]  
Author = [i.text for i in driver.find_elements(By.XPATH, '//div[@class="author"]/a')]
TypeOfQuotes = [i.text for i in driver.find_elements(By.XPATH, '//span[@class="small_source_14"]')]

In [219]:
df = pd.DataFrame({'Quote':Quote,'Author':Author,'TypeOfQuotes':TypeOfQuotes})
df

,Quote,Author,TypeOfQuotes
0,Do not plan for ventures before finishing what...,Euripides,"Aeschylus, Sophocles, Euripides (1959). ‚ÄúEurip..."